*{
	margin: 0px;
	padding: 0px;
}
body{
	background: url(https://img.freepik.com/free-vector/seamless-arabic-geometric-ornament-brown-color-arabic-style_117445-137.jpg?size=338&ext=jpg);
}
div.topContent{
	width: 70%;
	height: auto;
	margin: auto;
	background: beige;
	border: 1px solid black;
	box-shadow: 3px 3px 4px black;
}
h1{
	text-align: center;
	margin-top: 50px;
	background: white;
}

form{
	text-align: center;
}
input.inp, button.inp, textarea.inp2 {
	display: none;
}
div.Kullan覺c覺Bilgileri input{
	width: 20%;
	height: 5%;
	border: 1px;
	border-radius: 05px;
	padding: 8px 15px 8px 18px;
	margin: 10px 0px 10px 0px;
	box-shadow: 1px 1px 2px 1px grey;
	background: #bddeec;
}
div.Kullan覺c覺Bilgileri button{
	width: 20%;
	height: 5%;
	border: 1px;
	border-radius: 05px;
	padding: 8px 15px 8px 18px;
	margin: 10px 0px 10px 0px;
	box-shadow: 1px 1px 2px 1px grey;
	margin-bottom: 16px;
	background: #bddeec;
}



@media only screen and (max-width: 768px){
	*{
		margin: 0;
		padding: 0;
	}
	div.topContent{
		width: 100%;
		margin: auto;
	}





}